.item {
padding-top:100px;
min-height:150px;
position:relative
}
.item:before,.last-item:after {
background:#fec11e;
border:8px solid #000;
border-radius:50%;
width:40px;
height:40px;
display:inline-block;
content:"";
margin-left:1rem;
position:relative;
z-index:1;
left:calc(2% - 36px)
}
.vertical-line {
width:8px;
background-color:#000;
position:absolute;
left:calc(4% - 5px);
top:0;
bottom:0
}
.item .card-panel {
margin:0;
margin:1rem 0 0 3rem
}
.item-date {
margin-top:-60px;
margin-left:4rem
}
.cv-title {
margin-bottom:0;
margin-left:calc(2% - 5px);
line-height:100%
}
.cv-title span {
padding:1rem
}
.last-item{
padding-top:80px;
height:70px;
position:relative
}

#hk-map {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

* {
    box-sizing: border-box;
}

.wrapper {
   font-size: 0;
}

img {
    display: inline-block;
    max-width: 100%;
}

.pcontainer {
  max-width: 25%;
}

/* Style the video: 100% width and height to cover the entire window */
.playVideo {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.playVideo video{
    width: 100%;
    position: absolute;
}


.fullcontent {
  position: fixed;
  width: 100%;
  margin-left: 18rem;
  color: #f1f1f1;
  background: rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

.fullcontent h1{
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1.25;
    color: #d9d2d2;
    text-rendering: optimizeLegibility;
}

.photocontent {
position: fixed;
width: 100%;
margin-left: 18rem;
color: #f1f1f1;
background: rgba(0, 0, 0, 0.5);
object-fit: cover;
}

@media only screen and (max-device-width: 765px) {
  .fullcontent {
  position: fixed;
  width: 100%;
  margin-left: 0rem;
  color: #f1f1f1;
  background: rgba(0, 0, 0, 0.5);
  object-fit: cover;
}
  .photocontent {
  position: fixed;
  width: 100%;
  margin-left: 0rem;
  color: #f1f1f1;
  background: rgba(0, 0, 0, 0.5);
  object-fit: cover;
}
}



/* Style the button used to pause/play the video */
#playBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#playBtn:hover {
  background: #ddd;
  color: black;
}

.vertical-center {
  font-size: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 23rem;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Live map section */
#livemap { 
  width: 100%;
  height: 100%;
   }

/* basic positioning */
.legend {margin-left:0px;}
.legend longspan { border: 0px solid #ccc; float: left; width: 440px; height: 24px; margin: 0px; }
.legend span { border: 1px solid #ccc; float: left; width: 36px; height: 24px; margin: 0px; }
/* your colors */
.legend .no{ background-color: #ffffff; }
.legend .low { background-color: #ff9999; }
.legend .middle { background-color: #ff6666; }
.legend .high { background-color: #ff3300; }

.crossfade > figure {
  animation: imageAnimation 30s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
  display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.crossfade > figure:nth-child(1) { 
    background-image: url(../img/background_201908054.jpeg);
}
.crossfade > figure:nth-child(2) { 
    background-image: url(../img/background_201907151.jpeg);
    animation-delay: 6s; 
}
.crossfade > figure:nth-child(3) { 
    background-image: url(../img/background_201908053.jpeg);
    animation-delay: 12s; 
}
.crossfade > figure:nth-child(4) { 
    background-image: url(../img/background_201908051.jpeg);
    animation-delay: 18s; 
}
.crossfade > figure:nth-child(5) { 
    background-image: url(../img/background_201908052.jpeg);
    animation-delay: 24s; 
}
@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 0.8; animation-timing-function: ease-out; }
    17% { opacity: 0.8 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

.no-cssanimations .crossfade li span{
  opacity: 1;
}

#p1num, #p2num, #p3num, #p4num, #p5num {
  color: #F05A39;
    font-size: 100px;
}
#pnuma {
  color: #F05A39;
    font-size: 60px;
}

#m1num, #m2num, #m3num, #m4num {
    color: #FACC2E;
    font-size: 100px;
}