<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h2>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h2>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/{{ page.lang }}">Timeline</a>

      <a href="https://ncehk2019.github.io/nce-live/">Live Videos (provided by gh-user ncehk2019)</a>
      <br>
      <br>
      <a href="{{ site.url }}{{ site.baseurl }}/zh-ht/">繁體中文</a><br>
      <a href="{{ site.url }}{{ site.baseurl }}/zh-hs/">简体中文</a><br>
      <a href="{{ site.url }}{{ site.baseurl }}/en/">English</a><br>
      <a href="{{ site.url }}{{ site.baseurl }}/es/">Español</a><br>
      <a href="{{ site.url }}{{ site.baseurl }}/de/">Deutsch</a><br>
      <a href="{{ site.url }}{{ site.baseurl }}/fr/">Français</a><br>

      <br>
      <br>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | where:"lang", page.lang %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.url }}{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
