<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
  	{% include homebar.html %}
	<div class="fullcontent">
		<div class="playVideo">
		    <video autoplay muted loop controls>
		    <source src="{{site.url}}{{site.baseurl}}/public/video/newcover1.mp4" type="video/mp4" />
		    <p>This browser does not support the video tag.</p>
		    </video>
		</div>
	</div>

	<div class="textcontent">
		<div class="vertical-center">
			<p align="right" style="color:grey;"> 你 還 選 擇 沈 默 嗎 </p>
        </div>
	</div>
  </body>
</html>
