---
layout: default
---

<h1>{{ page.title }}</h1>
<div class="container row">
    {% assign posts = site.posts | sort: 'date' | where: "lang", page.lang | reverse %}
    
    {% for post in posts %}
    <div class="item">
        <i class="vertical-line"></i>
        <h2 class="item-date">{{ post.date | date: '%Y-%m-%d' }}{% if post.enddate %} - {{ post.enddate | date: '%Y-%m-%d' }}{% endif %}</h2>
        <div class="card-panel">
            <h3 class="card-title">
                <a href="{{site.baseurl}}{{ post.url }}" style="color:#d9d2d2;">{{ post.title }}</a>
            </h3>
            {% capture pimg %}{{ post.img | default: false }}{% endcapture %}
            {% if post.img != false %}
              <a href="{{site.url}}{{site.baseurl}}/public/img/{{post.img}}"> <img src="{{site.url}}{{site.baseurl}}/public/img/{{post.img}}" style="width:800px;"> </a>
              <br>
              Photo credit: {{post.imgdes}}
              <br>
            {% endif %}
            {{ post.description }}


        </div>
    </div>
    {% endfor %}
    <div class="last-item">
        <i class="vertical-line"></i>
        
    </div>
    </div>